* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
  /* background-image: radial-gradient(#ffffff, #FFF0F5); */
  background: #87ceeb;


}
.logo{
  text-align: center;
  color: #0080ff;
    font-size: 15px;
}
.logo h3 {
  display: inline;
}
.mySlides {
  display: none;
vertical-align: middle;

}
.mySlides img {
  vertical-align: middle;
}


.desktop{
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;

}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
/* header {
  text-align: center;
} */
/* iconbar */


.icon-bar {
  float:left;
  width: 25%;
  /* color: #3498db; */
  background-color: #E0FFFF;
  margin-bottom: 1%;
}
.icon-bar i {
  color: #3498db;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}

.icon-bar a:hover {
  background-color: #87CEFA;



}



/* .icon-bar a i:hover{
  color: #ffffff;
} */

/* .active {
  background-color: #4CAF50;
} */
.app {
   border-radius: 2em 2em;
   border: 2px solid;
   background-color: #87CEFA;
   margin-top: 1%;
   padding: 1%;
}

#nav1 {
  /* float: block; */
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;


}
#nav1 ul{
  width: 200px;
  /* width: auto; */
  display: flow-root;
}

#nav1 li a {
  color: #ff7f50;
  text-decoration: none;

}

#nav1 :hover{
  color: #1e90ff;
}

#nav2 {
  float: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  background-image: radial-gradient(#ffffff, #FFF0F5);

}
#nav3{
  display: none;
  /* text-align: center; */
padding-left: 30%;
}
#nav3 li{
  clear: both;
  /* display: block; */

}

#nav2 :hover{
  color: #1e90ff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.dropdown:hover #nav3{
  display: block;
}

/* add styles for the unordered list in teh nav */
#nav2 ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* add style for the list items in the nav */
#nav2 li {
  /* background-image: radial-gradient(#ffffff, #FFF0F5); */
  /* border-radius: 2em; */
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
  background-image: radial-gradient(#ffffff, #FFF0F5);

}

/* add styles fro teh anchor tag inside the li */
#nav2 li a {
  color: #ff7f50;
  text-decoration: none;
}
.column {
  /* float: left; */
  /* clear: both; */
  clear: left;
  margin-top: 1%;
  width: 100%;
  padding: 10px;
  height: 150px;
  border: 1px solid #FA8072;
   border-radius: 2em 2em;
   background-image: radial-gradient(#b3daff, #ffe6cc);
}

/* Clear floats after the columns */
.rowP:after {
  content: "";
  display: table;
  /* clear: both; */
}
.para{
  text-align: center;
}
article{

  background-color: HoneyDew;
  background-color: HoneyDew;
  border-radius: 2em 2em;
 text-align: center;
 box-shadow: 0 0 20px #000000b3;
  margin: 0 1.5%;
  width: 100%;
  height: 500px;
}
article p {
  margin-top: 20px;
}
/* footer */
.s-m {
  position: absolute;

  width: 100%;
  text-align: center;

}
.foot {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.foot i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;

}
.foot:hover i {
  transform: scale(1.3);
  color: #f1f1f1;

}
.foot::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;

}
.foot:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;

}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;

  } 50% {
    left: 10%;
    top: -30%;

  }
  100% {
    top: -10%;
    left: -10%;

  }

}
#copyright{
  text-align: center;
}
/* styles for anchor tag in footer */



 @media only screen and (min-width: 685px){
   body {
     font-family: Verdana, sans-serif;
     background-image: radial-gradient(#e9967a, #ffa07a, #87ceeb, #4682b4);

   }

   .desktop{
     display: inline;
   }

   .slideshow-container {
     display: none;

   }

   .slidedots{
     display: none;
   }



   header a img{
     float: left;
     height: 150px;
     width: 150px;
     margin-left: 2%;
   }

   #nav1{
     float: right;
   }

#nav2{

  clear: left;
}


   img {
     float: right;
     height: 250px;
     width:20%;
   }

   #nav1 li{
     display: inline;
     float: right;
     width: 50%;
   }

   #nav2 li {
     display: inline;
     float: left;
     margin-left: 1%;
     margin-right: 1%;
     padding-left: 0;
     padding-right: 0;
     width: 23%;
   }
   main{
     clear: left;
   }
   section{
     margin-left: auto;
     margin-right: auto;

     margin: 0 1.5%;
     width: 100%;
     background-color: HoneyDew;
     border-radius: 2em 2em;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
   }
   article{

     background-color: HoneyDew;
     background-color: HoneyDew;
     border-radius: 2em 2em;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
     margin: 0 1.5%;
     width: 100%;
   }
   article p {
     margin-top: 20px;
   }
   .txtb {
     border:1px solid gray;
     margin: 8px 0;
     padding: 12px 18px;
     border-radius: 8px;
   }
   .txtb label {
     display: block;
     text-align: left;
     color: #333;
     text-transform: uppercase;
     font-size: 14px;

   }
   .txtb input, .txtb textarea {
     width: 100%;
     border: none;
     background: none;
     outline: none;
     font-size: 18px;
     margin-top: 6px;

   }
   .btn {
     display: block;
     background-color: PowderBlue;
     padding: 14px 0;
     color: #1d1d1c;
     margin-top: 8px;
     width:100%;
     font-size: 19px;
   }
   .row1{
     display: none;
   }
   .textoverimage{
     flex: 33.33%;
     padding: 5px;
     position: relative;
     height: 250px;

     /* float: left; */
     margin: 4px;
     background-size: 100%;
     background-position: center;
     transition: 0.5s;

   }

   .textoverimage:hover{
     background-size: 110%;


   }
   .textoverimage:after {
     position: absolute;
     top:87%;
     bottom: 0;
     right:0;
    white-space: pre-wrap;
   overflow: hidden;
   background-color: rgba(0,0,0,0.3);
   color: #fff;
   padding: 0.8px;

     content: attr(data-text);
     transition: 0.5s;
   }
   .textoverimage:hover:after {

     top:0;
     padding: 8px;
     background-color: rgba(0,0,0,0.6);

   }
   .textoverimage:first-line {
     color: #fff;
     font-weight: bold;
     font-size: 1.5em;


   }
   .column {
     float: right;
     width: 33.33%;
     padding: 10px;
     height: 150px;
     border: 1px solid #FA8072;
      border-radius: 2em 2em;
   }

   /* Clear floats after the columns */
   .rowP:after {
     content: "";
     display: table;
     clear: both;
   }
   .para{
     text-align: center;
   }
   .mobile{
     display: none;
   }

 }
@media only screen and (min-width: 860px){
  body {
    font-family: Verdana, sans-serif;
    background-image: radial-gradient(#e9967a, #ffa07a, #87ceeb, #4682b4);

  }

.desktop{
  display: inline;
}
.mobile{
  display: none;
}

.slideshow-container {
  display: inherit;

}

.slidedots{
  display: inherit;
}


  header img{
    margin-left: 2%;
  }

  #nav1{
    margin-right: 5%;

  }



  #nav2 ul {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;

  }

  /* styles for teh li in nav */
  #nav2 li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 25%;
  }



  /* styles for the links in the nav */
  #nav2 li a {
    display: inline-block;
    padding: 0.7em;
    /* text-shadow: 0.2em 0.1em #3d3d35; */
  }
  main{
    clear: left;
  }
  /* slide Show */


section{
  float: left;
  margin: 0 1.5%;
  width: 63%;
  background-color: HoneyDew;
  border-radius: 2em 2em;
 text-align: center;
 box-shadow: 0 0 20px #000000b3;
}
.txtb {
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;

}
.txtb input, .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;

}
.btn {
  display: block;
  background-color: PowderBlue;
  padding: 14px 0;
  color: #1d1d1c;
  margin-top: 8px;
  width:100%;
  font-size: 19px;
}
article{
  float: right;
  margin: 0 1.5%;
  width: 30%;
}
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */

.row1 {
  display: flex;
}

/* Create three equal columns that sits next to each other */

.textoverimage{
  flex: 33.33%;
  padding: 5px;
  position: relative;
  height: 250px;

  float: left;
  margin: 4px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;

}

.textoverimage:hover{
  background-size: 110%;


}
.textoverimage:after {
  position: absolute;
  top:87%;
  bottom: 0;
  right:0;
 white-space: pre-wrap;
overflow: hidden;
background-color: rgba(0,0,0,0.3);
color: #fff;
padding: 0.8px;

  content: attr(data-text);
  transition: 0.5s;
}
.textoverimage:hover:after {

  top:0;
  padding: 8px;
  background-color: rgba(0,0,0,0.6);

}
.textoverimage:first-line {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;


}
.textoverimage1{
  flex: 50%;
  padding: 5px;
  position: relative;
  height: 250px;

  float: left;
  margin: 4px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;

}

.textoverimage1:hover{
  background-size: 110%;


}
.textoverimage1:after {
  position: absolute;
  top:87%;
  bottom: 0;
  right:0;
 white-space: pre-wrap;
overflow: hidden;
background-color: rgba(0,0,0,0.3);
color: #fff;
padding: 0.8px;

  content: attr(data-text);
  transition: 0.5s;
}
.textoverimage1:hover:after {

  top:0;
  padding: 8px;
  background-color: rgba(0,0,0,0.6);

}
.textoverimage1:first-line {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;


}
.column {
  /* clear: both; */
  float: right;
  width: 33.33%;
  padding: 10px;
  height: 150px;
  border: 1px solid #FA8072;
   border-radius: 2em 2em;
}

/* Clear floats after the columns */
.rowP:after {
  content: "";
  display: table;
  clear: both;
}
.para{
  /* float: left; */
  text-align: center;
}



}
