body {
    font-family: Verdana, sans-serif;
    /* background-image: radial-gradient(#e9967a, #ffa07a, #87ceeb, #4682b4); */
    background: #87ceeb;
  
  }
  .desktop{
    display: none;
  }
  .mobile {
    display: inline;
  }
  #navbar {
    float: block;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    /* background-image: radial-gradient(#ffffff, #FFF0F5); */
  
  }
  
  #navbar :hover{
    color: #1e90ff;
  }
  #navbar ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* add style for the list items in the nav */
  #navbar li {
    /* background-image: radial-gradient(#ffffff, #FFF0F5); */
    /* border-radius: 2em; */
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
    background-image: radial-gradient(#ffffff, #FFF0F5);
  
  }
  
  /* add styles fro teh anchor tag inside the li */
  #navbar li a {
    color: #ff7f50;
    text-decoration: none;
  }
  
  
  .s-m {
    position: absolute;
  
    width: 100%;
    text-align: center;
  
  }
  .foot {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
  .foot i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  
  }
  .foot:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  
  }
  .foot::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  
  }
  .foot:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  
  }
  
  #copyright{
    text-align: center;
  }
  
  .list  ul{
    list-style-type: none;
    padding: 2%;
  }
  
  .list  ul li{
    margin: 2%;
    padding: 1%;
    text-align: center;
    background-image: linear-gradient(to right, #e9967a, #4682b4);
    border-radius: 0 2em;
    box-shadow: 0 5px 15px -5px #00000070;
  }
  
  header{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20%;
    padding: 1%;
    background: #ffffff;
    background-image: radial-gradient(#ffffff, #87ceeb);
    border-radius: 2em 2em;
  
    text-align: center;
  }
  
  header img{
    width: 10%;
    height: 10%;
  
  }
  .logo{
    text-align: center;
    color: #0080ff;
      font-size: 15px;
  }
  .icon-bar {
    float:left;
    width: 33%;
    margin-bottom: 1%;
    /* color: #3498db; */
    background-color: #E0FFFF;
  }
  .icon-bar i {
    color: #3498db;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
  }
  
  .icon-bar a:hover {
    background-color: #87CEFA;
  
  
  
  }
  @keyframes aaa {
    0% {
      left: -110%;
      top: 90%;
  
    } 50% {
      left: 10%;
      top: -30%;
  
    }
    100% {
      top: -10%;
      left: -10%;
  
    }
  
  
  }
  
  @media only screen and (min-width: 860px){
  
    #navbar{
      display: inline;
      float: left;
    }
  
  
    #navbar li{
      display: inline;
      background-image: #ffffff;
      border-radius: 2em 2em;
    }
  
    #navbar{
  
      position: absolute;
      top: 5%;
      left: 5%;
  
  
    }
  
    header{
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 2%;
      padding: 1%;
      background: #ffffff;
      background-image: radial-gradient(#ffffff, #87ceeb);
      border-radius: 2em 2em;
  
      text-align: center;
    }
    .mobile{
      display: none;
    }
    .desktop{
      display: inline;
    }
  
  }