* {box-sizing: border-box;}
body {
  font-family: Verdana, sans-serif;
  /* background-image: radial-gradient(#e9967a, #ffa07a, #87ceeb, #4682b4); */
  background: #87ceeb;

}
.desktop{
  display: none;
}
.mobile{
  display: inline;
}
#navbar {
  float: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  /* background-image: radial-gradient(#ffffff, #FFF0F5); */

}

#navbar :hover{
  color: #1e90ff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* add style for the list items in the nav */
#navbar li {
  /* background-image: radial-gradient(#ffffff, #FFF0F5); */
  /* border-radius: 2em; */
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
  background-image: radial-gradient(#ffffff, #FFF0F5);

}

/* add styles fro teh anchor tag inside the li */
#navbar li a {
  color: #ff7f50;
  text-decoration: none;
}
.icon-bar {
  float:left;
  width: 25%;
  /* color: #3498db; */
  background-color: #E0FFFF;
  margin-bottom: 1%;
}
.icon-bar i {
  color: #3498db;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}

.icon-bar a:hover {
  background-color: #87CEFA;



}
.logo{
  text-align: center;
  color: #0080ff;
    font-size: 15px;
}
.main{
  clear: both;
  top:10%;
}
.para1{
  padding-top: 2em;
  clear: both;
  /* float: left; */
  width: 100%;
  border-radius: 0 5em 5em 5em;
  box-shadow: 1em 1em 1em #4c4f4d;
}
.para1 h2 {
  text-align: center;
  color: white;
}
.para1 p {
  text-align: center;
  font-size: 1.5em;
    color: White;
}
.textoverimage2{
  clear: both;
  flex: 33.33%;
  padding: 5px;
  position: relative;
  height: 250px;

  /* float: left; */
  margin: 4px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;

}

.textoverimage2:hover{
  background-size: 110%;


}
.textoverimage2:after {
  position: absolute;
  top:87%;
  bottom: 0;
  right:0;
 white-space: pre-wrap;
overflow: hidden;
background-color: rgba(0,0,0,0.3);
color: #fff;
padding: 0.8px;

  content: attr(data-text);
  transition: 0.5s;
}
.textoverimage2:hover:after {

  top:0;
  padding: 8px;
  background-color: rgba(0,0,0,0.6);

}
.textoverimage2:first-line {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;


}
.s-m {
  position: absolute;

  width: 100%;
  text-align: center;

}

.foot {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.foot i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;

}
.foot:hover i {
  transform: scale(1.3);
  color: #f1f1f1;

}
.foot::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;

}
.foot:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;

}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;

  } 50% {
    left: 10%;
    top: -30%;

  }
  100% {
    top: -10%;
    left: -10%;

  }

}
#copyright{
  text-align: center;
}
#copyright p {
  color: Black;
}

@media only screen and (min-width: 860px){
  .desktop{
    display: inline;
  }
  .mobile{
    display: none;
  }
  #navbar{
    display: inline;
    float: left;
  }


  #navbar li{
    display: inline;
    background-image: #ffffff;
    border-radius: 2em 2em;
  }

  #navbar{

    /* position: absolute; */
    top: 5%;
    left: 5%;


  }

}